.idea
generate.sh
rest/generate.sh
rest/Makefile
core/generate.sh
.env
rest/.env
core/.env
dashboard/app/node_modules
dashboard/app/.idea
dashboard/app/build

# binary
cmd/metrics-cmd
rest/metrics-rest-api
